* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  background: rgb(235, 235, 235);
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* универсальные теги */
.capital::first-letter {
  text-transform: capitalize;
}
.with__discount {
  color: rgb(45, 50, 66);
  font-size: 50px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2px;
}
.without__discount {
  color: rgb(149, 151, 159);
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  text-decoration: line-through rgb(149, 151, 159);
}
.comment {
  color: rgb(47, 67, 83);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}
.non__active-tariff {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(211, 214, 221);
}
.active__tariff {
  border: 2px solid rgb(1, 185, 197);
  background: rgba(1, 185, 197, 0.05);
}
/* header */

.header {
  background: rgb(255, 255, 255);
  padding: 12px 0px;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
}
.time {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-left: 14px;
  column-gap: 5px;
}
.time__numbers {
  color: rgb(1, 185, 197);
  font-size: 60px;
  font-weight: 400;
  line-height: 103%;
  /* text-align: center; */
  text-transform: uppercase;
}

.time__circle {
  background-color: rgb(1, 185, 197);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-bottom: 5px;
}
.time__circle:first-child {
  margin-top: 20px;
}
.time__unit {
  color: rgb(129, 135, 152);
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}
/* main */
.main {
  padding-top: 28px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.main__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1%;
  margin-bottom: 98px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
.main__row {
  display: flex;
  justify-content: space-between;
}
.main__img img {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.main__row-right {
  max-width: 585px;
  width: 100%;
}
/* первый ряд тарифов */
.tariffs__first-row {
  display: flex;
  justify-content: flex-start;
  column-gap: 12px;
  margin-bottom: 40px;
}
.first__row-item {
  padding: 45px 10px 15px 23px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}

.item__title {
  color: rgb(104, 112, 120);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 21px;
  font-family: "Bebas Neue", sans-serif;
  white-space: nowrap;
}
.with__discount-item {
  text-align: left;
}
.without__discount-item {
  margin-bottom: 18px;
  text-align: center;
}
.item__comment {
  max-width: 117px;
  text-align: center;
}
.item__discount {
  position: absolute;
  top: -30px;
  right: 0px;
  background-image: url(./img/Star.png);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}
/* пожизненный тариф */
.tariffs__lifeLong {
  position: relative;
  border-radius: 20px;
  padding: 23px 51px 23px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  cursor: pointer;
}

.lifeLong__title {
  color: rgb(45, 50, 66);
  font-size: 38px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  margin-right: 20px;
  font-family: "Bebas Neue", sans-serif;
}
.lifeLong__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}
/* футер тарифов */
.results {
  color: rgb(45, 50, 66);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin-bottom: 25px;
}
/* чек бокс */
.tariffs__checkbox {
  max-width: 454px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid rgb(1, 185, 197);
  width: 24px;
  height: 24px;
  border-radius: 4.8px;
  cursor: pointer;
}
label {
  color: rgb(149, 151, 159);
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}
input[type="checkbox"]:after {
  content: "✔";
  font-weight: 700;
  font-size: 14px;
  color: white;
  display: none;
}
input[type="checkbox"]:checked {
  background-color: rgb(1, 185, 197);
}
input[type="checkbox"]:checked::after {
  display: block;
}
.tariffs__btn {
  margin-top: 50px;
  padding: 28px 100px 28px 100px;
  border-radius: 60px;
  background: rgb(253, 77, 53);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.tariffs__agreement {
  margin-top: 30px;
  color: rgb(129, 135, 152);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
/* модальное окно */

.modal__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(14, 14, 14, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.modal {
  position: relative;
  margin: 0 auto;
  padding: 0px 40px 40px 40px;
  max-width: 750px;
  background: rgb(245, 247, 247);
  z-index: 3;
}
.modal__suggestion {
  display: inline-block;
  background: rgb(1, 185, 197);
  padding: 4px 10px 6px 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2%;
  margin-bottom: 30px;
}
.modal__close {
  position: absolute;
}
.modal__title {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.modal__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.modal__start {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  margin-bottom: 8px;
}
.modal__easy-start {
  display: inline-block;
  padding: 12px 26px 16px 28px;
  border: 1.5px solid rgb(1, 185, 197);
  border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
}
/* еще раз отсмотреть линию тарифов, шрифт заголовка по фигме явно меньше, фикс ширина?
/* что сделать с фоткой мужика низ */

/* modal suggestion норм ли инлайн блок? */
/* !подключить последний шрифт */
/* ! стилизовать чек бокс(гугл) */
/* !заглавные у спанов */
